/* Basic styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}

img {
    width: 200px;
    height: 200px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header,
.footer {
    background-color: #1f2937;
}

.header .content h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header .content p,
.nav-bar .links {
    font-size: 18px;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.section-1 h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.section-2{
    background-color: #e5e7eb;
}

.section-2 {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
}

.section-3 .container,
button {
    background-color: #3882f6;
}

button {
    color: #e5e7eb;
}

/* Header section */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 100px;
}

.nav-bar ul {
    display: flex;
    gap: 20px;
}


.header .content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header .content .text {
    height: 200px;
}

.header img {
    flex-basis: 400px;
}

/* Body - section 1 */

.section-1 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-1 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section-1 .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Body - section 2 */

.section-2 {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 .signature {
    align-self: flex-end;
}